<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" data-bs-theme="dark">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="Logo de la página" height="30" class="d-inline-block align-text-top">
      Mi App
    </a>

    <!-- Botón de hamburguesa para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/noticias" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/car-specs" routerLinkActive="active">Car Specs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/punto3" routerLinkActive="active">PUNTO 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/punto4" routerLinkActive="active">PUNTO 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/paises" routerLinkActive="active">PAISES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Añadir un espaciador para compensar la barra de navegación fija -->
<div style="margin-top: 70px;"></div>